.navbar-style{
    background-color:sienna !important;
}

.custom-login-txt{
    color: white !important;
    background-color: sienna;
    font-size: 20px !important;
    padding: 20px;
}

.header{
    background-color: white;
    position: sticky;
    top:0;
    z-index: 1000;

}

.nav-link.active{
    color:white;
    border-bottom: 2px sold blue;
}